body {
  background-color: #FFFAF0;
  color: #000000;
  text-align: center;
  font-family:'Roboto', sans-serif;
}.center-on-page { position: absolute;  top:50%;  left: 50%;  transform: translate(-50%,-50%); }
h1 {
  color: #000000;
  text-align: center;
}
img {
  vertical-align: middle;
}

